<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h4>iRzellA Cafe Basic</h4> -->
  <!-- Basic -->
  <ion-accordion-group>
    <ion-accordion value="shape">
      <ion-item slot="header">
        <ion-label>iRzellA CAFE | Tentang Cafe Kami</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <p>
            &nbsp; Kami memiliki cafe yang bernama iRzellA Cafe yang
            menghadirkan konsep cafe Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Illo magni reprehenderit labore maiores repellat
            officiis autem dolor assumenda. Dolor fugiat sit dolores ipsam
            mollitia pariatur iure, dignissimos tempora cum nostrum!
          </p>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>Cara Registrasi Member</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <p>
            &nbsp; Untuk mendaftar member iRzellA cafe anda memilih tombol
            registrasi di halaman login kemudian isikan nama email dan password
            kamu.
          </p>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="shapes">
      <ion-item slot="header">
        <ion-label>Keuntungan Menjadi Member</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <p>
            &nbsp; Apabila anda mendaftar menjadi member iRzellA Cafe maka anda
            akan memliki previlege yaitu diskon sebesar 10% apabila anda belanja
            minimal 100 ribu.
          </p>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="color">
      <ion-item slot="header">
        <ion-label>Cara Pemesanan dan Reservasi</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <p>
            &nbsp; Untuk pemesanan dan reservasi kami harap dilakukan H-1
            sebelum acara supaya menjamin ketersediaan tempat, pemesanan dapat
            dilakukan langsung di cafe kami atau online via email kami
            irzellacafe@cafeik.com dengan syarat DP terlebih dahulu minimal 50%.
          </p>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
