ion-toolbar {
  color: var(--dany-gold);
  background: var(--dany-secondary);
}

.an-color-gold {
  color: var(--dany-gold);
}

.an-color-white {
  color: var(--dany-white);
}

.hack-bold {
  color: var(--dany-white);
  font-family: var(--dany-font-hack-bold);
}

* {
  font-family: var(--dany-font-hack);
}

p {
  font-family: var(--dany-font-hack-italic);
  color: var(--dany-gold);
  padding: 0;
  margin: 0;
}

hr {
  background: var(--dany-gold);
}

h2 {
  font-family: var(--dany-font-hack-bold);
  padding: 0;
  margin: 0;
  color: white;
}

ion-searchbar {
  --background: var(--dany-primary);
  // --border-radius: 100px;
  font-family: var(--dany-font-hack-bold-italic);
  --color: var(--dany-gold);
}

ion-content {
  ion-segment {
    ion-segment-button {
      --indicator-color: var(--dany-gold);
    }

    /* Material Design styles */
    ion-segment-button.md {
      --color: #000;
      --color-checked: var(--dany-gold);
      --indicator-height: 4px;
    }

    /* iOS styles */
    ion-segment-button.ios {
      --color: var(--dany-gold);
      --color-checked: var(--dany-secondary);
      --border-radius: 20px;
    }
  }
}

ion-thumbnail {
  --size: 100%;
  --padding: 1.6 rem 2 rem;
  --background: #f3f3f3;
  --display: flex;
  --flex-direction: column;
  --align-items: center;
  --position: relative;
  --border-radius: 2.5rem;
  --margin-bottom: 1.5rem;
}

ion-card {
  height: 40vh;
  width: 95%;
  margin: 2px;
  margin-top: 10px;
  padding: 2px;
  border: solid 0.5px var(--dany-gold);
  border-radius: 20px;
  display: flex;
  flex-flow: column-reverse;

  ion-card-header {
    margin: 2px;
    margin-top: 10px;
    padding: 2px;
    height: 15vh;
  }

  ion-content {
    max-height: 70px;
  }
}

ion-card-title {
  background: var(--dany-primary);
  border-top: 2px solid var(--dany-gold);
  border-radius: 40px;
  padding-top: 10px;
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ion-item {
  --ion-item-background: var(--dany-primary);
}
