ion-content {
  --background: #000;
  overflow: hidden;

  #login {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .logo {
      position: relative;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;

      img {
        width: 100%;
      }
    }

    .form {
      position: relative;
      width: 100%;
      padding: 15px;

      ion-item {
        position: relative;
        --background: transparent;
        margin: 0 0 25px 0;
        padding: 0;
        width: 100%;

        ion-input {
          display: block;
          width: 100%;
          border: 1px solid #000;
          --padding-start: 15px;
          --padding-end: 15px;
          --padding-top: 10px;
          --padding-bottom: 10px;
          border-radius: 100px;
          color: var(--dany-gold);
        }
      }

      hr {
        position: relative;
        background: gold;
        margin-top: -29px;
        width: 85%;
      }

      ion-button {
        margin: 0px 15px;
        width: 111%;
        --margin-top: 15px;
      }

      ion-button.regis {
        --color: #6961a1;
        --border-color: #6961a1;
        --color-activated: black;
        --background-activated: #6961a1;
        --ripple-color: #6961a1;
      }
    }
  }
}
