<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center">
    <ion-title> MENU LIST </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    id="search"
    class="ion-no-padding"
    show-cancel-button="focus"
    placeholder="Seach Menus"
    [(ngModel)]="search"
  ></ion-searchbar>
  <!-- Category -->
  <ion-segment scrollable="true" mode="ios" select-on-focus="true">
    <ion-segment-button value="all" mode="ios" (click)="getMenu()">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button
      *ngFor="let cat of categories"
      value="{{ cat.id }}"
      (click)="getMenu(cat.id)"
      mode="ios"
    >
      <ion-label>{{ cat.cat_nm }}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- End Category -->
  <!-- Skeleton Animasi -->
  <ion-list *ngIf="!menus">
    <ion-list-header>
      <ion-label class="listmenu">MENU</ion-label>
      <ion-button class="seeall">See FAV</ion-button>
    </ion-list-header>
    <hr />
    <ion-item lines="none" *ngFor="let sk of [1,2,3,4,5]">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 40%"
          ></ion-skeleton-text>
        </p>
        <h2>
          <ion-skeleton-text
            [animated]="true"
            style="width: 80%"
          ></ion-skeleton-text>
        </h2>
        <p class="price">
          <ion-skeleton-text
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- End Skeleton Animasi -->

  <!-- List Menu  -->
  <ion-list *ngIf="menus">
    <ion-list-header>
      <ion-label class="listmenu">MENU</ion-label>
      <ion-button
        class="seeall"
        [routerLink]="['/tabs/tab1']"
        routerLinkActive="router-link-active"
        >See FAV</ion-button
      >
    </ion-list-header>
    <hr />
    <ion-item class="ion-activatable ripple-parent rectangle" lines="none">
      <ion-grid fixed class="">
        <ion-row size="auto">
          <ion-col
            size="6"
            *ngFor="let mn of menus | filter:search"
            (click)="goDetailMenu(mn)"
          >
            <ion-card>
              <ion-card-title>
                <p class="price"><span>Rp</span> {{ mn.mn_harga | number }}</p>
              </ion-card-title>
              <ion-thumbnail>
                <img src="{{ mn.foto }}" />
              </ion-thumbnail>
              <ion-card-header>
                <ion-card-subtitle>
                  <p>{{ mn.cat_nm }}</p>
                  <h2>{{ mn.mn_nama }}</h2>
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>
  <!-- End Menu Favorit -->
</ion-content>
