<ion-header>
  <ion-toolbar>
    <ion-title>Edit User Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="ion-margin-horizontal ion-no-padding">
      <ion-label position="stacked">Nama</ion-label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-horizontal ion-no-padding">
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        type="password"
        placeholder="*******"
        [(ngModel)]="user.password"
      ></ion-input>
    </ion-item>
    <ion-button
      class="ion-margin-horizontal"
      (click)="saveUser()"
      expand="full"
      fill="solid"
      color="warning"
    >
      UPDATE
    </ion-button>
  </ion-list>
</ion-content>
